<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../cssfiles/vipuser/login.css" type="text/css">
    <title>欢迎登陆本页面</title>
</head>
<body>
<div id='loginForm'>
    <form action="/" >
        <div class="login-class-group1">
            <label for="userName">用户名：</label>
            <input id="userName" type="text" placeholder="用户名">
            <div id="userName_info">*</div>
        </div>
        <div class="login-class-group1">
            <label for="password">密码：</label>
            <input id="password" type="password" placeholder="密码">
            <div id="password_info">*</div>
        </div>
        <div class="login-class-group2">
            <a href="javascript:void(0)">忘记密码?</a>
            <a href="register" id="toRegister">还未注册?</a>
        </div>
        <div class="login-class-group2">
            <input type="submit" value="登录" onclick="return authticLogin();">
        </div>
    </form>
</div>
</body>
</html>
<script src="../../jsfiles/vipuser/login.js" type="application/javascript"></script>
<script src="../../jsfiles/jquery-3.1.1.js" type="application/javascript"></script>