.main-content {
    position: relative;
    left: 20%;
    right: 20%;
}

#top {
    display: block;
    width: 100%;
    flex-wrap: wrap;
}

#register_login {
    display: block;
    position: absolute;
    margin-right: 40px;
    float: right;
}

#middle {
    position: absolute;
    top: 100px;
}

#register_login {
    font-size: 16px;
}

#register_login a:link {
    text-decoration: none;
}

#register_login a:visited {
    text-decoration: #ff1a41;
}

#myCarousel {
    display: block;
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

.myCarousel-img {
    max-height: 100%;
    max-width: 100%;
}

.carousel-inner {
    height: 100%;
}

.navigation {
    background: #96b97d;
}

#pc_nav {
    display: inline;
    flex-wrap: nowrap;
    width: 100%;
}

#pc_nav li {
    width: 25%;
    padding-left: 50px;
    padding-right: 50px;
}

nav {
    background: #f5f5f5;
}

.navbar-header a {
    color: white;
}

#pc_nav a {
    font-size: 16px;
}

#cy_tp_ul ul {
    padding: 15px;
}

.ritfoot {
    text-align: center;
}