.row_content {
    border: #bb784f solid 1px;
    border-radius: 4px;
}

.content_title {
    display: block;
    left: 3%;
    font-family: 微软雅黑;
    font-size: 18px;
    width: 150px;
}

.title_row {
    position: relative;
    width: 100%;
    margin: 4px;
    top: 3%;
}

#beadhouse_more, #article_more {
    display: inline;
    position: absolute;
    left: 90%;
    width: 100px;
}

#beadhouse_content {
    position: relative;
    top: 10%;
    margin: 20px;
}

#beadhouse_content img {
    width: 250px;
    height: 180px;
}

.descripitionoverflow {
    overflow: hidden;
    height: 60px;
}

.area {
    padding: 40px;
}

.article_line {
    margin-top: 20px;
}

.ritfoot {
    text-align: center;
}

.indexrowline {
    margin: 40px 0 40px 0;
}

.contentouter {
    padding: 10px 0 0 15px;
}

.leisuregroupcontentline {
    margin: 3px 0 3px 0;
}

.leisuregrouprowline {
    margin: 10px 0 10px 0;
}