<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../cssfiles/vipuser/usercenter.css" type="text/css">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../cssfiles/user/common.css">
    <link rel="stylesheet" type="text/css" href="../../cssfiles/theme.css">
    <link rel="stylesheet" type="text/css" href="../../cssfiles/premium.css">
    <link rel="stylesheet" href="../../cssfiles/font-awesome/css/font-awesome.css">
    <script src="../../jsfiles/jquery-3.1.1.js"></script>
    <script src="../../bootstrap/js/bootstrap.js"></script>
</head>
<body>
<div class="top" id="top">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <img src="../../jpgfiles/logo.png" height="80px">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cy_tp_ul">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="cy_tp_ul">
                <ul class="nav navbar-nav navbar-right" style="margin-top: 0px;">
                    <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-list"></span> 咨询</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-home"></span> 关于</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="register_login" class="row">
        <a href="/user/register ">[点击注册]</a>
        <a href="/user/login">[点击登陆]</a>
    </div>
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="http://localhost:8088/imagefiles/carousel/userIndexPage/0owb9my4sp.jpg" alt="First slide">
            </div>
            <div class="item">
                <img src="http://localhost:8088/imagefiles/carousel/userIndexPage/8zx055n26a.png" alt="Second slide">
            </div>
            <div class="item">
                <img src="http://localhost:8088/imagefiles/carousel/userIndexPage/o6t88pf738.jpg" alt="fouth slide">
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev">&lsaquo;
        </a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next">&rsaquo;
        </a>
    </div>
    <div class="container navigation">
        <div class="row">
            <div>
                <ul class="nav navbar-nav" id="pc_nav">
                    <li><a>养老院中心</a></li>
                    <li><a>度假村中心</a></li>
                    <li><a>休闲团中心</a></li>
                    <li><a href="articles">养老攻略</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../jsfiles/user/common.js" type="application/javascript"></script>
</html>