<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>添加新网页</title>
    <link rel="stylesheet" href="http://127.0.0.1:8088/cssfiles/admin/layout.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="http://127.0.0.1:8088/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="http://127.0.0.1:8088/cssfiles/premium.css">
    <link rel="stylesheet" href="http://127.0.0.1:8088/cssfiles/fileinput/theme.css">
    <link rel="stylesheet" href="http://127.0.0.1:8088/cssfiles/admin/commonside.css">
    <link rel="stylesheet" href="http://127.0.0.1:8088/cssfiles/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="http://127.0.0.1:8088/cssfiles/admin/layout.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../cssfiles/premium.css">
    <link rel="stylesheet" href="../../cssfiles/fileinput/theme.css">
    <link rel="stylesheet" href="../../cssfiles/admin/commonside.css">
    <link rel="stylesheet" href="../../cssfiles/font-awesome/css/font-awesome.css">
    <script src="http://127.0.0.1:8088/jsfiles/jquery-3.1.1.js" type="text/javascript"></script>
    <title>新增数据表</title>
</head>
<body>
<link rel="stylesheet" href="http://127.0.0.1:8088/cssfiles/admin/layout.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="../../cssfiles/admin/layout.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="../../cssfiles/admin/contentcommon.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="http://127.0.0.1:8088/cssfiles/admin/contentcommon.css" type="text/css" media="screen"/>

<div class="container-fluid">
    <div th:replace="commonside::#secondary_bar"></div>
    <div th:replace="commonside::#sidebar"></div>
    <div class="col-sm-10">
        <div class="container">
            <div class="header">
                <h1 class="page-title">养老服务中心后台管理</h1>
                <ul class="breadcrumb">
                    <li th:text="#{admin.views.add.firsttitle}">视图管理</li>
                    <li class="active" th:text="#{admin.views.add.secondtitle}">试图列表</li>
                </ul>
            </div>
            <div class="container" style="font-size: 16px">
                <div class="center-block col-sm-offset-2 col-sm-10 text-center">
                    <span th:text="${callbackinfo}" class="text-danger col-sm-12"></span>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <td>视图名称</td>
                        <td>url</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                    <tr th:each="view,i:${viewlist}">
                        <td th:text="${view.chineseTitle}"></td>
                        <td th:text="${view.url}"></td>
                        <td>
                            <a class="btn btn-primary" th:href="@{'/admin/views/edit?viewid='+${view.id}}"
                               target="_blank">修改视图</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" th:href="@{'/admin/views/adddatasource?viewid='+${view.id}}"
                               target="_blank">添加数据源</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" th:href="@{'/admin/views/addevent?viewid='+${view.id}}"
                               target="_blank">添加事件源</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>