
body {

}

.inner_content {
    margin: 20px 20px 20px 5%;
}

.square_image {
    width: 90%;
}

.plus {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    font-size: 20px;
}

.plus:before, .plus:after {
    content: '';
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 1em;
}

.plus:before {
    width: 1em;
    height: 2px;
}

.plus:after {
    height: 1em;
    width: 2px;
}

.tablecolumn div {
    padding: 3px;
}

.tablecolumn div span {
    width: 30%;
    padding: 4px;
}

.tablecolumn div input {
    border-radius: 2px;
}

#columns > div > span {
    width: 120px;
    padding: 5px 5px 2px 2px;
}

#columns > div > select {
    width: 100px;
}

.shortlength {
    width: 40px;
}

.callbacksuccess {
    font-size: 20px;
    color: green;
}

.callbackfailure {
    font-size: 20px;
    color: red;
}

.callback {
    min-width: 500px;
}

.wronginput {
    border-color: red;
}

#addviewform {
    padding-top: 50px;
}