<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="http://127.0.0.1:8088/cssfiles/admin/layout.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="http://127.0.0.1:8088/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="http://127.0.0.1:8088/cssfiles/premium.css">
    <link rel="stylesheet" href="http://127.0.0.1:8088/cssfiles/fileinput/theme.css">
    <link rel="stylesheet" href="http://127.0.0.1:8088/cssfiles/admin/commonside.css">
    <link rel="stylesheet" href="http://127.0.0.1:8088/cssfiles/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="http://127.0.0.1:8088/cssfiles/admin/layout.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../cssfiles/premium.css">
    <link rel="stylesheet" href="../cssfiles/fileinput/theme.css">
    <link rel="stylesheet" href="../cssfiles/admin/commonside.css">
    <link rel="stylesheet" href="../cssfiles/font-awesome/css/font-awesome.css">
    <title>新增数据表</title>
</head>
<body>
<link rel="stylesheet" href="http://127.0.0.1:8088/cssfiles/admin/layout.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="../cssfiles/admin/layout.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="../cssfiles/admin/contentcommon.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="http://127.0.0.1:8088/cssfiles/admin/contentcommon.css" type="text/css" media="screen"/>
<div th:replace="commonside::#secondary_bar"></div>
<div th:replace="commonside::#sidebar"></div>
<div id="main_div">
    <section id="main">
        <div class="header inner_content">
            <h1 class="page-title">养老服务中心后台管理</h1>
            <ul class="breadcrumb">
                <li th:text="#{admin.tables.firsttitle}">养老攻略管理</li>
                <li class="active" th:text="#{admin.tables.add.secondtitle}">添加攻略</li>
            </ul>
        </div>
        <!--/*@thymesVar id="table" type="main.java.com.beadhouse.dynamic.database.databasemetadata.Table"*/-->
        <div id="addTableForm" class="inner_content real-content" >
            <div class="row">
                <div class="text-center" th:classappend="'callback'+${callbackinfo}" th:text="${callback}">返回信息
                </div>
            </div>
            <ul th:if="${#fields.hasErrors('${table}')}" class="errorlist">
                <li th:each="err : ${#fields.errors('${table}')}" th:text="${err}">输入不合法</li>
            </ul>
            <form accept-charset="UTF-8" action="#" th:object="${table}" th:action="#{admin.tables.add.actionurl}" method="post">
                <div class="row">
                    <label for="tableName">数据表名</label>
                    <input th:field="*{tableName}" type="text" id="tableName">
                    <button type="submit" name="addColumnRow">新增表列</button>
                </div>
                <div th:each="column,columnStat:*{columns}" id="columns">
                    <div class="row">
                        <span>字段名字:</span>
                        <input th:field="*{columns[__${columnStat.index}__].name}"
                               type="text">
                        <span class="">字段类型:</span>
                        <select id="select"
                                th:field="*{columns[__${columnStat.index}__].jdbcType}">
                            <option th:each="attr:${ColumnTypes}" th:value="${attr}"
                                    th:text="${attr}"></option>
                        </select>
                        <span class="">长度:</span>
                        <input class="shortlength" th:field="*{columns[__${columnStat.index}__].length}"
                               type="text"
                               th:value="0"
                               th:errorclass="wronginput">
                        <span class="">精度:</span>
                        <input class="shortlength" th:field="*{columns[__${columnStat.index}__].precision}"
                               th:value="0"
                               type="text" th:errorclass="wronginput">
                        <span class="">不为空:</span>
                        <input type="checkbox" th:field="*{columns[__${columnStat.index}__].notNull}">
                        <span>注释(汉语字段):</span>
                        <input th:field="*{columns[__${columnStat.index}__].comment}" type="text">
                        <button type="submit" th:value="${columnStat.index}" name="removeColumn"
                                class="btn btn-danger">
                            删除该行
                        </button>
                    </div>
                </div>
                <div class="row">
                    <label for="tableprimarykey">主关键字段名:</label>
                    <input th:field="*{primaryKeyName}" type="text" id="tableprimarykey">
                    <span class="warning">选择上述的某个字段作为主键</span>
                </div>
                <div class="row">
                    <button type="submit" name="addTable" class="center-block btn btn-success">添加数据表</button>
                </div>
            </form>
        </div>
    </section>
</div>
</body>
</html>