<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>养老院管理人员登录</title>
    <link rel="stylesheet" href="../../cssfiles/beadhouse/adminlogin.css">
</head>
<body>
<div id="admin_login">
    <form action="/">
        <div class="login-class-group1">
            <label for="userName">用户名：</label>
            <input id="userName" type="text" placeholder="用户名">
            <div id="userName_info">*</div>
        </div>
        <div class="login-class-group1">
            <label for="password">密码：</label>
            <input id="password" type="password" placeholder="密码">
            <div id="password_info">*</div>
        </div>
        <div class="login-class-group2">
            <a href="javascript:void(0)">忘记密码?</a>
            <a href="/admin/register" id="toRegister">还未注册?</a>
        </div>
        <div class="login-class-group2">
            <input type="submit" value="登录" onclick="return authenticLogin('/admin/login');">
        </div>
    </form>
</div>
</body>
<script src="../../jsfiles/jquery-3.1.1.js" type="application/javascript"></script>
<script src="../../jsfiles/beadhouse/adminlogin.js" type="application/javascript"></script>
</html>
