<!doctype html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>养老服务中心首页</title>

    <link rel="stylesheet" href="../../cssfiles/admin/layout.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../cssfiles/premium.css">
    <link rel="stylesheet" href="../../cssfiles/theme.css">
    <link rel="stylesheet" href="../../cssfiles/font-awesome/css/font-awesome.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen"/>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="../../jsfiles/jquery-3.1.1.js" type="text/javascript"></script>
    <script src="../../jsfiles/admin/hideshow.js" type="text/javascript"></script>
    <script src="../../jsfiles/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script src="../../jsfiles/jquery.equalHeight.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            //When page loads...
            $(".tab_content").hide(); //Hide all content
            $("ul.tabs li:first").addClass("active").show(); //Activate first tab
            $(".tab_content:first").show(); //Show first tab content

            //On Click Event
            $("ul.tabs li").click(function () {

                $("ul.tabs li").removeClass("active"); //Remove any "active" class
                $(this).addClass("active"); //Add "active" class to selected tab
                $(".tab_content").hide(); //Hide all tab content

                var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
                $(activeTab).fadeIn(); //Fade in the active ID content
                return false;
            });

        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('.column').equalHeight();
        });
    </script>

</head>


<body class="theme-green">

<header id="header">
    <hgroup>
        <h1 class="site_title"><a href="index.html">养老服务中心管理平台</a></h1>
        <h2 class="section_title">首页</h2>
    </hgroup>
</header> <!-- end of header bar -->

<section id="secondary_bar">
    <div class="user">
        <p id="user_name"></p>
        <!-- <a class="logout_user" href="#" title="Logout">Logout</a> -->
    </div>
</section><!-- end of secondary bar -->

<div id="side"></div>
<script type="application/javascript">
    $("#side").load("../../views/admin/commenside.html")
</script>

<section id="main">
    <link rel="stylesheet" href="../../cssfiles/admin/contentcommon.css">
    <div class="header inner_content">
        <h1 class="page-title">养老服务中心后台管理</h1>
        <ul class="breadcrumb">
            <li>用户中心</li>
            <li class="active">会员中心</li>
        </ul>
    </div>
    <script src="../../jsfiles/admin/vipuser.js"></script>

    <div class="inner_content tab_content">
        <table class="tablesorter">
            <thead>
            <tr>
                <th>#</th>
                <th>昵称</th>
                <th>手机号</th>
                <th>邮箱</th>
                <th>添加时间</th>
            </tr>
            </thead>
            <tbody id="vipusers">

            </tbody>
        </table>
    </div>
</section>
</body>
<script src="../../jsfiles/admin/common.js"></script>
<script type="application/javascript">
    adminAuthority();
</script>
</html>