.register {
    position: absolute;
    top: 30%;
    left: 40%;
    margin: -100px 0 0 -150px;
    width: 600px;
    height: 300px;
    display: block;
    z-index: 99;
}

.pure-control-group {
    display: inline-flex;
    flex-wrap: nowrap;
    height: 50px;
    padding: 0;
    align-items: Center;
}

.pure-control-group label {
    width: 150px;
    text-align: right;
    display: block;
    height: 20px;
    padding-right: 30px;
}

.pure-control-group input {
    width: 200px;
    height: 20px;
    text-align: left;
    border-radius: 5px;
    padding: 0px;
}

.pure-form .pure-checkbox, .pure-form .pure-button {
    margin: .5em 0;
    display: block;
    text-align: center;
    height: 20px;
}

fieldset {
    display: block;
    border: hidden;
}

.pure-controls {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
}

.pure-form .pure-checkbox {
    width: 600px;
}

.pure-form .pure-button {
    width: 70px;
    height: 30px;
    margin-left: 40%;
    background-color: deepskyblue;
    border-radius: 5px;
    font-size: 20px;
}

div[id$=info] {
    padding-left: 20px;
}

#password_info p {
    padding: 3px;
    height: 10px;
    margin: 0px;
}

div[id^=img] {
    width: 30px;
    height: 15px;
}

#pwd_image {
    display: inline-flex;
    height:20px;
    width:130px;
    flex-wrap: nowrap;
}