
.elder_register_group, #elder_register_extra {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 600px;
    height: 60px;
    align-items: center;
    vertical-align: middle;
}

.elder_register_group label, #elder_register_extra label {
    width: 120px;
    height: 25px;
    text-align: right;
    padding-right: 10px;
    margin: 10px;
}

select {
    width: 100px;
    height: 20px;
}

.elder_register_group input[type="text"] {
    height: 20px;
    border-radius: 3px;
}

#elder_register_extra {
    width: 100%;
    height: 100px;
    align-items: stretch;
}

div[id$=id_info] {

}

div[id^=correct] {
    color: green;
}

div[id^=wrong] {
    color: red;
}

#extra_content {
    width: 300px;
}

#sidebar {
    left: 200px;
}

.data_area {
    position: relative;
    left: 550px;
}

#elder_beadhouse_data_area {

}

.table_area {
    width: 55%;
}

#beadhouse_recommend_area {
    width: 600px;
}

#beadhouse_recommend_area img {
    width: 150px;
    height: 120px;
}