<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎养老院管理员注册</title>
    <link rel="stylesheet" href="../../cssfiles/beadhouse/adminregister.css">
</head>
<body>
<div id="register" class="register">
    <form class="pure-form pure-form-aligned" id="register_form" action="/">
        <fieldset>
            <div class="pure-control-group">
                <label for="userName">用户名:</label>
                <input id="userName" type="text" placeholder="userName" required>
                <div id="name_info">请填写用户名</div>
            </div>

            <div class="pure-control-group">
                <label for="password">密码:</label>
                <input id="password" type="password" placeholder="Password" required>
            </div>

            <div class="pure-control-group">
                <label for="repassword">确认密码:</label>
                <input id="repassword" type="password" placeholder="ReEnter your Password" required>
            </div>

            <div class="pure-control-group">
                <label for="emailAddress">邮箱:</label>
                <input id="emailAddress" type="email" placeholder="Email Address" required>
            </div>

            <div class="pure-control-group">
                <label for="telephoneNumber">手机号:</label>
                <input id="telephoneNumber" type="text" placeholder="telephoneNumber" required>
            </div>

            <div class="pure-control-group">
                <label for="realName">真实姓名:</label>
                <input id="realName" type="text" placeholder="realName" required>
                <div id="real_name_info">请填写真实姓名</div>
            </div>

            <div class="area-group">
                <label for="province">所属养老院:</label>
                <div id="area_choose">
                    <select id="province" name="province" onchange="doProvAndCityRelation();">　
                        <option id="choosePro" value="-1">请选择省份</option>
                    </select>
                    <select id="citys" name="city" onchange="doCityAndCountyRelation();">
                        <option id='chooseCity' value='-1'>请选择城市</option>
                    </select>
                    <select id="country" name="country">
                        <option id='chooseCounty' value='-1'>请选择区/县</option>
                    </select>
                </div>
                <div id="beadhouse"><select id="beadhouseselect" name="beadhouse">
                    <option id='chooseBeadHouse' value="-1">请选择养老院</option>
                </select></div>
            </div>

            <div class="pure-controls">
                <label for="cb" class="pure-checkbox">
                    <input id="cb" type="checkbox"> I've read the terms and conditions
                </label>
                <button type="submit" class="pure-button pure-button-primary" onclick="return canBeRegister();">提交
                </button>
            </div>
        </fieldset>
    </form>
</div>
<script src="../../jsfiles/jquery-3.1.1.js"></script>
<script src="../../jsfiles/location.js" type="application/javascript"></script>
<script src="../../jsfiles/beadhouse/adminregister.js"></script>
</body>
</html>