#addNew td:first-child, #update_info td:first-child {
    display: block;
    width: 200px;
    text-align: right;
    margin-right: 20px;
    padding: 10px;
}

#addNew td:last-child, #update_info td:first-child {
    width: 300px;
}

#addNew tr, #update_info td:first-child {
    height: 50px;
}

#image_tr, #update_image_tr {

    height: 200px;
}

#j-upload-input, #update_j-upload-input {
    display: inline-block;
    padding-top: 90px;
    padding-bottom: 90px;
}

tr, th {
    text-align: center;
}