body {
    background-image: url("../../jpgfiles/beadhouseback.jpg");
}

#content {
    display: block;
    position: absolute;
    left: 250px;
    top: 10%;
    flex-wrap: wrap;
}

#allmap {
    left: 50px;
    width: 500px;
    height: 300px;
    overflow: hidden;
    margin: 50px;
    font-family: "微软雅黑";
}

.main-group {
    width: 100%;
    flex-wrap: nowrap;
    text-align: center;
    display: inline-flex;
    position: relative;
    padding: 5px;
}

input[type="file"] {
    width: 200px;
}

#submit {
    align-items: center;
    position: center;
    margin-left: 300px;
}

.coordinates {
    visibility: hidden;
}